body {
    font-family: sans-serif;
    color: #555555;
}

h1, h2, h3, h4 {
    color: #00aeef;
}

p {
    margin: 0px;
}

input[type=text], textarea {
    /*width: 100%;*/
    font-size: 15px;
    padding: 10px;
    border: 2px solid #555555;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #555555;
    border: 2px solid #555555;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#profile-data {
    display: none;
}

#dialog-container {
    width: 300px;
}

[class*="-msg"],
#races-container div {
    padding: 10px;
    margin: 5px;
    border-bottom: 5px solid #ffffff;
    border-radius: 15px;
    width:80%;
}

.watson-msg {
    background-color: #AED6F1;
    float: left;
}

.human-msg {
    background-color: #ABEBC6;
    float: right;
}

.main-container {
    width: 305px;
    height: 100%;
    float: left;
}

.race-name {
    font-weight: bold;
}

#races-container div {
    background-color: #ABEBC6;
}

#race-container {
    background-color: #AED6F1;
    padding: 15px;
    margin: 0px;
    border-bottom: 5px solid #ffffff;
    border-radius: 15px;
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}